# Binarios y ejecutables de Go
*.exe
*.out
/api_chi

# Archivos del sistema operativo
.DS_Store

# Archivos de configuración de VS Code
.vscode/

# Archivos de caché de Go
.go/
.cache/

# Variables de entorno (NO subir a GitHub)
.env