apiVersion: v1
kind: Service
metadata:
  name: go-api-service
  labels:
    app: go-api
spec:
  type: NodePort
  selector:
    app: go-api
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080